{%extends 'base.html'%}
{% load static %}
{% block title %} Swapbox &mdash; My Dashboard{% endblock %}
{%block meta%}
<meta name="description" content="Buy and sell online writing accounts in the most secure way">
<meta name="keywords" content="Buy and sell online writing accounts in the most secure way">
{% endblock %}

{%block content%}
<!-- Wrapper -->
<div id="wrapper">
    <div class="container">
        <h1>My Dashboard</h1>

        {%if user_profile.mode == 'B'%}
        <a class="btn btn-primary" href="{% url 'profiles:change_mode'%}">
            Switch to Seller mode
        </a>
        {%else%}
        <a class="btn btn-primary" href="{% url 'profiles:change_mode'%}">
            Switch to Buyer mode
        </a>
        {%endif%}
        <div class="inner">
            <a class="btn btn-secondary" href="{% url 'shop:cart-view'%}">
                Cart
            </a>
            <a class="btn btn-secondary" href="{% url 'shop:wishlist-view'%}">
                Wishlist
            </a>
        </div>   
    </div>
</div>
{%endblock%}