{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>My Wishlist</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for account in wishlist.accounts.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ account.title }}</td>
            <td>{{ account.selling_price }}</td>
            <td>
                {{account.selling_price}}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your wishlist is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href="{% url 'shop:market' %}">Continue shopping</a>
            </td>
        </tr>
        {% endfor %}

        {% if wishlist.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ wishlist.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='#'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href="{% url 'shop:market' %}">Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}